.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
"header header "
"nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 2px;
}

.content {
  grid-area: content;
  background: #c5fae8;
  padding: 10px;
}
