.header {
  grid-area: header;
  background: darkgreen;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 40px;
}

.auth {
display: flex;
  justify-content: space-between;
  width: 150px;
}
