.user {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid #2a785e;
  margin-bottom: 10px;
}

.user:hover {
  opacity: 0.5;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.userInfo {
  width: 300px;
  padding: 5px;
}

.userInfo h4 {
  margin: 5px 0;
}

.userLocation {
  width: 300px;
}

.follow {
  background: darkgreen;
  color: #fff;
  width: 100px;
  height: 30px;
  margin: 20px 0 0;
}

.follow:hover {
  background: #2a785e;
}

.follow:disabled {
  background: #fff;
  color: darkgray;
}
