.user {
  display: flex;
  margin-bottom: 50px;
}

.avatar {
  height: 150px;
  margin-right: 20px;
}

p {
  margin: 0;
  line-height: 30px;
}

.userName {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}
