.newPost {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.button {
  background: darkgreen;
  color: #fff;
  width: 100px;
  height: 30px;
  margin: 5px 0 0 650px;
}

.post {
  width: 750px;
}
