.items {
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
}

.items:last-of-type {
  margin-top: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: cyan;
}

.active {
  color: gold;
}

.friend {
  display: flex;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
