.dialog {
  display: flex;
}

.dialog a {
  color: #000;
  font-size: 16px;
  margin-top: 15px;
}

.dialog.active a {
  color: gold;
  font-size: 24px;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
